<div class="container_2">
  <div class="left_side">
    <img class="left_image" [src]="'assets/image_5.png'" alt="" />
  </div>

  <div class="right_side">
    <p class="main_text2">Upload your Albums</p>
    <p class="description_text2">
      The perfect starting point for your album collection. Connect with the best music by simply sharing your preferences to get started.
    </p>
    <button class="btn_3">
      <img class="icon" [src]="'assets/Upward_Arrow.svg'" alt="" />
      Upload
    </button>
  </div>
</div>
