
<div class="InputField">
  <p class="main2_text">Lets Get Started</p>
  <p class="description2_text">
    The perfect starting point for your album collection. Connect with the best music by simply sharing your preferences to get started.
  </p>
  <div class="textField_content">
    <input
      class="search_field"
      type="text"
      placeholder="Search albums by keywords"
    />
    <img class="search_icon" [src]="'assets/Search.png'" alt=""/>
    <button class="btn_2">Find Albums</button>
  </div>
</div>
