<div *ngIf="loaded" class="album-details">
  <h3> Albums Detail #{{album.id}}</h3>

  <h4>{{album.title}}</h4>

  <form class="album-form">
    <label for="title">Album title:</label>
    <input type="text" id="title" [(ngModel)]="album.title" name="title">
  </form>

  <button (click)="save()" class="save-btn">Save</button>

  <a [routerLink]="['/albums', album.id, 'photos']" class="photos-link">Photos</a>

  <button (click)="goBack()" class="back-btn">Back</button>
</div>

<div *ngIf="!loaded" class="d-flex justify-content-center align-items-center gap-5 mt-5">
  <strong role="status">Album detail page is loading...</strong>
  <div class="spinner-border" aria-hidden="true"></div>
</div>
