<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Главная</a>
  </div>
  <button class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <div class="navbar-links">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/companies">Компании</a></li>
      <li><a routerLink="/vacancies">Вакансии</a></li>
      <li><a routerLink="/about">О нас</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
