<app-top-bar></app-top-bar>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
<div class="container">
  <div class="title">Интернет-магазин на Kaspi.kz</div>
  <div class="smartphone">
    <div class="item_title">Телефоны,<br> гаджеты </div>
    <div class="icon_image"><img class="img_smartp" src="https://kaspi.kz/img/Phone.png" alt=""></div>
  </div>
  <div class="smartphone">
    <div class="item_title">Компьютеры</div>
    <div class="icon_image"><img class="img_smartp" src="https://kaspi.kz/img/Computer.png" alt=""></div>
  </div>
</div>
