
<h2>Products</h2>


<div *ngFor="let product of products">
    <br>
    <div >
        <img src={{product.image}} alt="" class="img_phone" #mainImage>
    </div>
    <h3>
        <a 
        [href]="product.website"
        >
            {{product.name}}
        </a>
    </h3>

    <div class="image-gallery">
        <div *ngFor="let image of product.image_gallery" class="image-container">
            <img [src]="image" alt="Product Image" (click)="setMainImage(image, mainImage)" [class.selected]="selectedImage === image">
        </div>
    </div>

    <p *ngIf=" product.description"  [routerLink]="['/products', product.id]">
        Description: {{ product.description }}
    </p>

    <p *ngIf=" product.rating" class="rating">
        rating: {{ product.rating }}/10
    </p>

 

    <a href="https://t.me/share/url?url={{product.website}}&text={{product.name}}">
        <button type="button">
            Share
        </button> 
    </a>   
    <br>
</div>