.img_phone {
    height: 300px;
    width: 235px;
}

.rating {
    font-weight: bold;
}

.image-gallery {
  display: flex;
  margin-top: 10px;
}

.image-gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
} 

.image-gallery {
  display: flex;
  margin-top: 10px;
}

.image-gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.image-container img {
  width: 100px; 
  height: auto;
  border: 1px solid transparent; 
  cursor: pointer;
}

.image-container img.selected {
  border-color: black;
  border-width: 3px; 
}
